{
    "root": true,
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": ["airbnb-base", "plugin:react/recommended"],
    "env":{
        "browser": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "class-methods-use-this": ["disable"]
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "settings": {
        "import/resolver": {
          "node": {
            "paths": ["src"]
          }
        }
    }  
}