.usergists
{
  margin-top:20px;
  display: block;
  border: 1px solid gray;
  background-color: white;
  width:80%;
  margin:0 auto;
}
.gistsli a {
    display: inline-block;
    padding: 8px 16px;
    width:80px;
    color: blue;
}
.gistsul
{
    list-style-type: none; 
}
.heading
{
   border: 1px solid gray;
}