body
{
    background-color: gray;
}
.main
{
    width:50%;
    display: inline-block;
    
}
.container
{
    margin:0 auto;
}
.ulclass {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    width:80%;
    margin:0 auto;
    background-color: black;
}
.liclass a {
    text-decoration: none;
    color: gray;
    padding: 20px;
    
}
.liclass a:hover {
    color: white;
}
h1{
    color:red;
    text-align: center;
}
.maincontent
{
    height: 60px;
    background-color: black;
}
.username,.mainlinks
{
    display: inline-block;
    padding: 20px;
}
.username
{
margin-left:700px;
}
.liclass
{
list-style-type: none;
box-sizing: border-box;
}
.textbox
{
height:20px;
width:100px;
border-radius: 10%;
border:1px solid white;
background-color: white;
}






